numpy
matplotlib
corner
multiprocessing
scipy
tqdm

[for inference using Chempy and yield table scoring]
emcee

[for yield table scoring]
scikit-monaco
pytorch

[for multi-star inference]
pymc3
scikit-learn
